@use '../../../styles/vars' as *;

.button {
  height: 60px;
  width: 60px;
  outline: none;
  border: none;
  background-color: $white-color;
  border-radius: 20px;
  background-image: url("../../../images/like-30.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 5px;

  &:hover {
    background-color: $main-color;
  }

  &:focus {
    background-color: $secondary-color;
    color: $white-color;

    background-image: url("../../../images/like-white-30.svg");
  }

  &__icon {
    padding: 15px;
  }
}