$global-font-family: "Jost", sans-serif;

$main-color: #fbe0dc;
$secondary-color: #ff858d;
$button-text-color: #ff868e;
$white-color: #ffffff;

$bg-voting-border: #e1e2ff;
$bg-breeds-border: #d5f7e3;
$bg-gallery-border: #ffedcc;

$voting-button: #b4b7ff;
$breeds-button: #97eab9;
$gallery-button: #ffd280;

$title-font-color: #1d1d1d;
$subtitle-font-color: #8c8c8c;
